doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Play it again, Sam.
    link(href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet")
    link(href="dist/main.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="dist/favicon.png")
    style.
      body{
        background: #{colorsOfLastPlayedTrack[0]};
      }
      img{
        box-shadow: 0 0 100px #{colorsOfLastPlayedTrack[1]}
      }
      #albumInfo h1,h2{
        color: #{colorsOfLastPlayedTrack[3]}
      }
  body
    div(id="albumInfo")
      h1(id="songTitle") #{lastPlayedTrack.name}
      h2(id="albumTitle") #{lastPlayedTrack.artist['#text']} - #{lastPlayedTrack.album['#text']}
      img(id="albumCover"
          crossOrigin="anonymous" 
          src=lastPlayedTrack.image[3]['#text']
          alt=lastPlayedTrack.name['#text']
      )
      if lastPlayedTrack['@attr']
        h1(id="nowPlaying") Now playing
      else
        h1(id="nowPlaying") Not playing
    script(src="/socket.io/socket.io.js")
    script(src="dist/main.js")